*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(0, 145, 170);
    position: fixed;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 15px 0px;
    color: white;
}

.nav .right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.right p{
   font-size: 18px;
}

.right a{
    text-decoration: none;
    color: white;
    border-bottom: solid 1px transparent;
    transition: 0.6s ease-in;
}

.right a:hover{
    border-bottom: solid 1px white;
}

main{
    border-bottom: 2px solid rgb(135, 227, 255);
    background-color: rgb(3, 86, 100);
    padding-top: 70px;
}

.content .right{
    color: white;
    line-height: 30px;
}

.right .hi{
    font-size: 80px;
    color: yellow;
}

.right .iam{
    font-size: 22px;
    color: white;
}

.right .front{
    font-size: 50px;
    color: white;
}

.right .jhon{
    color: white;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px 0px;
    scroll-margin: 70px;
}

.left_img img{
    width: 323px;
}

.left_img{
    animation-duration: 2s;
}

.projects{
    padding: 20px 0px;
    border-bottom: 2px solid rgb(135, 227, 255);
    background-color: rgb(1, 58, 68);
}
.profile{
    max-width: 1200px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
    column-gap: 10px;
    row-gap: 25px;
    margin-top: 30px;
    overflow: hidden;
}

.items img{
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.items img:hover{
    transform: scale(1.02);
    transition: 1s ease-in-out;
    overflow: hidden;
    opacity: 0.8;
}


.text h1{
    text-align: center;
    font-size: 40px;
    color: white;
}

footer{
    background-color: rgb(3, 86, 100);
}

.last{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0px;
}

.last h1{
    color: white;
    font-size: 50px;
}

.cnn{
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: white;
    gap: 10px;
    font-size: 25px;
}

.git{
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: white;
    font-size: 25px;
    gap: 10px;
}